@theme "~/.cache/wal/rofi-theme.rasi"

configuration {
    show-icons: true;
}

* {
    font: "0xProto Nerd Font Propo 13";
}

#window {
    padding: 8px;
    children: [inputbar, listview];
    spacing: 4px;
    border-radius: 8px;
}

#inputbar {
    children: [entry];
}

#entry {
    padding: 4px;
    placeholder: "Application";
}

#listview {
    columns: 3;
    lines: 3;
    dynamic: true;
    spacing: 4px;
}

#element {
    padding: 4px;
    border-radius: 4;
}
