@theme "~/.cache/wal/rofi-theme.rasi"

* {
    font: "0xProto Nerd Font Propo 13";
}

#window {
    padding: 8px;
    children: [listview];
    border-radius: 8px;
}

#listview {
    columns: 1;            
    lines: 5;             
    spacing: 4px;        
    dynamic: true;
    fixed-height: false;
    fixed-columns: false;
    children: [element];
    spacing: 4px;
}

#element {
    border-radius: 4;
    padding: 4;
    children: [element-text];
}
