#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#162f33",
    floating_border_color: "#9BAE9F",
    focused_border_color: "#c4cbcc",
    background_color: "#162f33",
)