/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #170909 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c1c1; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c1c1; background-color: rgba(241,177,145,0.4)}
.cm-s-nqqwal { background-color: #170909; color: #c5c1c1; }
.cm-s-nqqwal span.cm-builtin { color: #BB8566; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #6d5959; }
.cm-s-nqqwal span.cm-keyword { color: #DB9572; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #BA7784; }
.cm-s-nqqwal span.cm-def { color: #F0AD9D; }
.cm-s-nqqwal span.cm-variable { color: #F1B191; }
.cm-s-nqqwal span.cm-variable-2 { color: #F0AD9D; }
.cm-s-nqqwal span.cm-string { color: #BB8566; }
.cm-s-nqqwal span.cm-string-2 { color: #BB8566; }
.cm-s-nqqwal span.cm-number { color: #F0AD9D; }
.cm-s-nqqwal span.cm-tag { color: #DB9572; }
.cm-s-nqqwal span.cm-property { color: #F1B191; }
.cm-s-nqqwal span.cm-attribute { color: #F1B191; }
.cm-s-nqqwal span.cm-qualifier { color: #BA7784; }
.cm-s-nqqwal span.cm-meta { color: #F0AD9D; }
.cm-s-nqqwal span.cm-header { color: #DB9572; }
.cm-s-nqqwal span.cm-operator { color: #DB9572; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(240,173,157,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #DB9572; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #170909); }
