/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0d0d1f !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c2c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c2c7; background-color: rgba(67,80,109,0.4)}
.cm-s-nqqwal { background-color: #0d0d1f; color: #c2c2c7; }
.cm-s-nqqwal span.cm-builtin { color: #43425E; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5c5c71; }
.cm-s-nqqwal span.cm-keyword { color: #404060; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #424867; }
.cm-s-nqqwal span.cm-def { color: #45506B; }
.cm-s-nqqwal span.cm-variable { color: #43506D; }
.cm-s-nqqwal span.cm-variable-2 { color: #45506B; }
.cm-s-nqqwal span.cm-string { color: #43425E; }
.cm-s-nqqwal span.cm-string-2 { color: #43425E; }
.cm-s-nqqwal span.cm-number { color: #45506B; }
.cm-s-nqqwal span.cm-tag { color: #404060; }
.cm-s-nqqwal span.cm-property { color: #43506D; }
.cm-s-nqqwal span.cm-attribute { color: #43506D; }
.cm-s-nqqwal span.cm-qualifier { color: #424867; }
.cm-s-nqqwal span.cm-meta { color: #45506B; }
.cm-s-nqqwal span.cm-header { color: #404060; }
.cm-s-nqqwal span.cm-operator { color: #404060; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(69,80,107,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #404060; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0d0d1f); }
