#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0d0d1f",
    floating_border_color: "#43506D",
    focused_border_color: "#c2c2c7",
    background_color: "#0d0d1f",
)